{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, inttial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.png">
	<title>
		{% block page_title %}
		{% endblock %}
	</title>
	<!--Bootstrap-->
	<link rel="stylesheet"  href="{% static 'styles/bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet"  href="{% static 'styles/bootstrap/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
	{% block styles %}
	{% endblock %}

		<script type="text/javascript" src="{% static 'styles/bootstrap/js/jquery.js' %}"></script>

		<script type="text/javascript">
			$(document).ready(function()
			{
				$(".slider").each(function ()
				{
					var obj = $(this);
					$(obj).append("<div class='nav'></div>");

					$(obj).find("li").each(function ()
					{
						$(obj).find(".nav").append("<span rel='"+$(this).index()+"'></span>");
						$(this).addClass("slider"+$(this).index());
					});

					$(obj).find("span").first().addClass("on");
				});
			});

		function sliderJS (obj, sl) // slider function
		{
			var ul = $(sl).find("ul");
			var bl = $(sl).find("li.slider"+obj);
			var step = $(bl).width();
			$(ul).animate({marginLeft: "-"+step*obj}, 500);
		}

		$(document).on("click", ".slider .nav span", function() // slider click navigate
		{
			var sl = $(this).closest(".slider");
			$(sl).find("span").removeClass("on");
			$(this).addClass("on");
			var obj = $(this).attr("rel");
			sliderJS(obj, sl);
			return false;
		});
	</script>

</head>
<body>

	<div class="container">
		<div class="container container-block">
			<div class="menu col-md-6 col-md-offset-6 col-sm-12 col-sm-offset-0 col-lg-5 col-lg-offset-7">
				<div class="row">
					<div class="navbar navbar-default">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
									<span class="sr-only">Открыть навигацию</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse" id="menu">
								<ul class="nav navbar-nav">
									<li><a href="{% url 'main_page' %}">Главная</a></li>
									<li><a href="#">Доставка</a></li>
									<li><a href="#">О нас</a></li>
									<li><a href="#">Оплата</a></li>
									<li><a href="#">Контакты</a></li>
									<li><a href="#">Кабинет</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
	 	</div>

	 	<div class="container container-blocks">
		 	<div class="container container-blockes">
		 		<div class="cols col-xs-hidden col-sm-6 col-md-3 col-lg-3">
		 			<img src="{% static 'images/label2.jpg' %}" class="img-responsive" alt="">
		 		</div>
		 		<div class="cols col-xs-12 col-sm-6 col-md-3 col-lg-3">
		 			<div class="icon"><i class="glyphicon glyphicon-earphone"></i></div>
		 			<div class="inform inf_1">(057)777-00-66,<br>(044)591-53-00, <br>(057)777-00-66</div>
		 		</div>
		 		<div class="cols col-xs-12 col-sm-6 col-md-3 col-lg-3">
		 			<div class="icon"><i class="glyphicon glyphicon-home"></i></div>
		 			<div class="inform block1">04080, г. Киев, <br>ул.Константиновская 73, <br>metaliks@gmail.ru</div>
		 		</div>
		 		<div class="cols col-xs-12 col-sm-6 col-md-3 col-lg-3">
		 			<div class="icon"><i class="glyphicon glyphicon-trash"></i></div>
		 			<div class="inform block">Корзина 0(0.00 грн.)</div>
		 		</div>
		 	</div>


		 	<div class="container-blocks">
		 		<div class="slider">
					<ul>
						<li><img src="{% static 'images/img-1.jpg' %}" alt="" /></li>
						<li><img src="{% static 'images/img-2.jpg' %}" alt="" /></li>
						<li><img src="{% static 'images/img-3.jpg' %}" alt="" /></li>
						<li><img src="{% static 'images/img-4.jpg' %}" alt="" /></li>

					</ul>
				</div>

		<script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-23131825-1']);
			_gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

			<script type="text/javascript">new Image().src = "http://counter.yadro.ru/hit?r"+
				escape(document.referrer)+((typeof(screen)=="undefined")?"":
					";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
					screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";"+Math.random();</script>

					<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter20963398 = new Ya.Metrika({id:20963398, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/20963398" style="position:absolute; left:-9999px;" alt="">	</div></noscript>
		 	</div>

		 	<div class="container container-blocks">
				<ul class="main-menu colg">
					<li class="cols col-lg-2 col-md-2 col-sm-6 col-xs-12"><a href="{% url 'metal_products_main_page' %}">МЕТАЛЛОПРОКАТ</a></li>
					<li class="cols col-lg-2 col-md-2 col-sm-6 col-xs-12"><a href="#">МЕТИЗЫ</a></li>
					<li class="cols col-lg-2 col-md-2 col-sm-6 col-xs-12"><a href="#">АБРАЗИВЫ</a></li>
					<li class="cols col-lg-2 col-md-2 col-sm-6 col-xs-12"><a href="#">УПАКОВКА</a></li>
					<li class="cols col-lg-2 col-md-2 col-sm-6 col-xs-12"><a href="#">СПЕЦОДЕЖДА</a></li>
					<li class="cols col-lg-2 col-md-2 col-sm-6 col-xs-12"><a href="#">ДРУГОЕ</a></li>
				</ul>
			</div>

			<hr>

			<div class="b_s_in">
					{% block content %}
					{% endblock %}
			</div>

			<div class="container footer">
				<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
					<div class="offefon offefons col-lg-3 hidden-md hidden-sm hidden-xs">ПОДЕЛИТЬСЯ: </div>
					<div class="clearfix col-lg-7 col-md-7 col-sm-8 hidden-xs">
						<a href="#"><div class="sc-btn">
								<img src="{% static 'images/fs.jpg' %}" class="blo img-responsive" alt="">
						</div></a>
						<a href="#"><div class="sc-btn">
								<img src="{% static 'images/tw.jpg' %}" class="blo img-responsive" alt="">
						</div></a>
						<a href="#"><div class="sc-btn">
								<img src="{% static 'images/vk.jpg' %}" class="blo img-responsive" alt="">
						</div></a>
						<a href="#"><div class="sc-btn">
								<img src="{% static 'images/ml.jpg' %}" class="blo img-responsive" alt="">
						</div></a>
					</div>
				</div>
				<div class="wet-btn col-lg-7 col-md-6 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-primary btn-sm offefon col-lg-4 col-md-6 col-sm-7 col-xs-10 col-xs-offset-1">ПРОИЗВОДИТЕЛИ</button>
					<button type="button" class="btn btn-primary btn-sm offefon col-lg-4 col-lg-offset-1 col-md-6  col-sm-7 col-sm-offset-1 col-xs-10 col-xs-offset-1">СВЯЗАТЬСЯ С НАМИ</button>
				</div>
			</div>
	</div>
<script src='https://code.jquery.com/jquery.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>
