{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}
  RiverSteel
{% endblock %}

{% block content %}
<div class="b_t container container-blocks">
		        	    <p><h3 class="text-center">Компания РиверСтил предлагает широкий ассортимент металлопроката по очень выгодным ценам, как оптовым, так и розничным покупателям</h3></p>
		        	    <p><h4>Мы имеем огромный опыт в работе с металлообрабатывающими предприятиями</h6></p>
		        	    <p><h5>В нашем ассортименте такой металлопрокат :</h5></p>
		        	    <ol>
		        	    	<li>Арматура</li>
		        	    	<li>Труба</li>
		        	    	<li>Угол</li>
		        	    	<li>Швеллер</li>
		        	    	<li>Балка</li>
		        	    	<li>Полоса</li>
		        	    	<li>Другие виды металлопроката</li>
		        	    </ol>
		        	    <p><h5>Наши преимущества :</h5></p>
		        	    <ol>
		        	    	<li>Широкий ассортимент</li>
		        	    	<li>Индивидуальный подход к каждому клиенту</li>
		        	    	<li>Индивидуальная система скидок для каждого клиента</li>
		        	    	<li>Доставка в любую точку Украины</li>
		        	    	<li>Сопровождение сделки ведущим менеджером, до выгрузки товара на вашем объекте</li>
		        	    </ol>
		        	    <p><h5>Кроме того компания РиверСтил предлагает вам заказать ряд услуг :</h5></p>
		        	    <ol>
		        	    	<li>Порезка металлопроката на необходимые заготовки</li>
		        	    	<li>Гибка труб</li>
		        	    	<li>Мы имеем возможность изготовки металлических конструкций</li>
		        	    </ol>
		        	</div>
{% endblock %}
